.comment-new {
    border: 4px solid dimgrey;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #f2f2f2;
}

.comment-new  * {
    background-color: #f2f2f2;
}

*::placeholder {
    color: dimgrey;
}

.input-data {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-right:1rem;
}

.comment-textarea {
    width: 70%;

}

.comment-area {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment {
    background-color: #f2f2f2;
    border-radius: 4px;
    border: 2px solid #dfdfdf;
    margin: 1rem 0;
    padding: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    overflow: scroll;
}

.comment-img {
    width: 4rem;
    height: 4rem;
    border: 2px whitesmoke solid;
    border-radius: 5rem;
    overflow: hidden;
}

.commentator {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.feedback {
    padding: 1rem;
    margin: 1rem;
    display:flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
}

.thumbs {
    align-self: flex-end;
    display: flex;
}

.thumbs label {
    display: flex;
    margin: 0 1rem;
}

[type=checkbox] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=checkbox]  + i {
    cursor: pointer;
}

[type=checkbox] :checked + i {
    outline: 2px solid #f00;
}

.bi-hand-thumbs-up {
    color: green;
}

time {
    font-size: 0.8rem;
}

.initial {
    width: 100%;
}

.response {
    width: 90%;

}

.comment-text {
    overflow: scroll;
}

label:has(.like) {
    color: green;
    font-weight: bolder;
}

label:has(.dislike){
    color: darkred;
    font-weight: bolder;
}

@media screen and (min-width: 768px){
    .comment-img {
        width: 4rem;
        height: 4rem;
    }
}

@media screen and (max-width: 768px){
    .comment-img {
        width: 2rem;
        height: 2rem;
    }
    .comment-avatar-container > *{
        font-size: 20%;
    }
    .commentator, .feedback {
        padding: 0.4rem
    }
    .comment {
        padding: 0.8rem;
    }
}

.btn-secondary {
    color: darkgray;
}

#popup {
    position: absolute;
    display: flex;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: hsla(156, 0%, 87%, 0.38);
    justify-content: center;
    align-items: center;
    display: none;
}

.popup-box {
    position: relative;
    z-index: 101;
    max-width: 90%;
    width: fit-content;
    height: fit-content;
    background-color: #a9b7c6;
    border-radius: 1rem;
    text-align: center;
}

.popup-box img {
    width: 10rem;
}

.popup-box button {
    width: fit-content;
}

.p {
    width: 70%;
}